[submodule "Technical_Agent"]
	path = Technical_Agent
	url = https://github.com/athipan1/Technical_Agent.git
[submodule "Fundamental_Agent"]
	path = Fundamental_Agent
	url = https://github.com/athipan1/Fundamental_Agent.git