# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Log files
*.log
report_history.log
logs/

# Virtual environment
venv/
.venv/
env/
.env/

# IDE / Editor specific
.vscode/
.idea/