name: Build & Push Manager Agent

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build base image
        uses: docker/build-push-action@v5
        with:
          context: .
          dockerfile: ./base.Dockerfile
          tags: painaidee-base:latest
          # Load the image into the local Docker daemon to be used as a base for the next step
          load: true
          # We don't need to push the base image separately
          push: false

      - name: Build and push manager-agent
        uses: docker/build-push-action@v5
        with:
          context: .
          dockerfile: ./Dockerfile
          push: true
          tags: painaidee/manager-agent:latest
